@model IEnumerable<ClinicManagement.Models.Product>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}

<div class="site-blocks-cover" style="background-image: url('https://images.unsplash.com/photo-1607368386669-d940ce438fba?q=80&w=1843&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title">Effective Medicine, New Medicine Everyday</h2>
              <h1>Welcome To Pharma</h1>
              <p>
                 <a href="@Url.Action("Products", "Client")" class="btn btn-primary px-5 py-3">Shop Now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch section-overlap">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-primary h-100">
              <a href="#" class="h-100">
                <h5>Fast <br> Shipping</h5>
                <p>
                  fastetshipping in the Planet
                  <strong>Lorem, ipsum dolor sit amet consectetur adipisicing.</strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap h-100">
              <a href="#" class="h-100">
                <h5>Doctors <br> Recomanded</h5>
                <p>
                  Best according to Doctors
                  <strong>Lorem, ipsum dolor sit amet consectetur adipisicing.</strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-warning h-100">
              <a href="#" class="h-100">
                <h5>Make <br>Your Clinic</h5>
                <p>
                  Amet sit amet dolor
                  <strong>Lorem, ipsum dolor sit amet consectetur adipisicing.</strong>
                </p>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Popular Products</h2>
            </div>
        </div>

        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <a href="@Url.Action("Details", "Products", new { id = product.ProductId })">
                        <img src="@Url.Content(product.ImageUrl)" alt="@product.Name" class="img-fluid">
                    </a>
                    <h3 class="text-dark">
                        <a href="@Url.Action("Details", "Products", new { id = product.ProductId })">@product.Name</a>
                    </h3>
                    <p class="price">$@product.Price</p>
                    <div class="col-12 text-center">
                        <a href="@Url.Action("Products", "Client")" class="btn btn-primary px-4 py-2">View Product</a>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <a href="@Url.Action("Products", "Client")" class="btn btn-primary px-4 py-3">View All Products</a>
            </div>
        </div>
    </div>
</div>




<div class="site-section  bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_AjVXtSWwW5TbccwnuUfpqg29eh2KS7nmCg&s');">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('https://www.msm.edu/online/makingmedicines/images/makingmedicines784.jpg');">
                    <div class="banner-1-inner align-self-center">
                        <h2>Pharma Products</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                        </p>
                    </div>
                </a> 
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <a href="#" class="banner-1 h-100 d-flex cover" style="background-image: url('https://media.istockphoto.com/id/1447381473/photo/smile-medical-and-arms-crossed-with-portrait-of-doctor-and-mockup-in-consulting-room-for.jpg?s=612x612&w=0&k=20&c=rHB5b477SWJKScxSN8mcqTRg3_zT1mDrs58Ug85DlhU=');">
                    <div class="banner-1-inner ml-auto  align-self-center">
                        <h2>Rated by Experts</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
