@model ClinicManagement.Models.EducationEvent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EducationEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speaker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speaker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">Event Image</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.EventImage))
            {
                <img src="~/image/events/@Model.EventImage"
                     alt="Event Image"
                     class="img-thumbnail"
                     style="max-width: 200px; max-height: 200px; object-fit: cover;" />
            }
            else
            {
                <span class="text-muted">No image available</span>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
